{% extends 'cms_register/base.html' %}
{% load i18n %}

{% block header %}
{% endblock %}

{% block contest %}
active
{% endblock %}

{% block content %}

{% if done == True %}
<div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {% trans "register successfull" %}
</div>
{% endif %}

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>{% trans "contest name" %}</th>
                    <th class="text-center">{% trans "length" %}	</th>
                    <th class="text-center">{% trans "register len" %}</th>
                    <th class="text-center">{% trans "contest len" %}</th>
                    <th></th>	
                </tr>
            </thead>
            <tbody>
                {% for contest in contests %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td>
                        {% if enterable|get_item:contest.id %}
                            <a href="{% url 'cms_register:goto_contest' contest.id %}">
                                {{ contest.name }}
                            </a>
                        {% else %}
                            {{ contest.name }}
                        {% endif %}
                    </td>
                    <td class="text-center">{{ date|get_item:contest.id }}<br>{{ time|get_item:contest.id }} {{ timezone }}</td>
                    <td class="text-center">{{ durd|get_item:contest.id }}<br>{{ durt|get_item:contest.id }} {{ timezone }}</td>
                    <td class="text-center">{{ need|get_item:contest.id }}</td>
                    <td class="text-center" >
                        <div class="form-group">
                            <div class="btn-group" role="group" aria-label="">
                                {% if contest.ranking_file %}
                                <a href="{% url 'cms_register:ranking' contest.id %}" class="btn btn-info" {% if not contest.ranking_file %} disabled="dis" {% endif %}>{% trans "scoreboard" %}</a>
                                {% endif %}
                            </div>
                        </div>
                    </td>	
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-1"></div>
</div>

{% endblock %}
